<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stáhni si YouTube video</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Stáhni si YouTube video</h1>
    <form action="/download" method="post">
        <input type="text" name="url" placeholder="Zadej URL videa">
        <button type="submit">Stáhnout</button>
    </form>
</body>
</html>